* {
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: #F0ECEE;
}

button {
  background: #ff4850;
  color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100vw;
}


button:hover {
  color: #CCC;
}

h2 {
  font-weight: 600;
  flex-wrap: wrap;
}

h3 {
  color: black;
}

a {
  font-weight: 400;
  color: #88898B;
  text-align: right;
  margin-right: 5px;
}

h4 {
color: #88898B;
font-weight: 300;
}

.nav-cont {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
a:hover {
  color: #ff4850;
}

@media screen and (min-width:768px){

body{
  background-image: url('../image/bulldog.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 80% 200%;
}

.nav-cont {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar{
flex-direction: row;
align-items: center;
}

button {
  width: auto;
}

}
